@charset "utf-8";
#wrap{position:relative;width:100%;height:100%;}
		/*tab키 메뉴*/
		.tabmenu{z-index:5;position:relative;width:100%;max-width:1903px;height:auto;}
			.tabmenu>li{width:100%;height:auto;}
			.tabmenu>li>a{display:block;width:100%;height:auto;background:#92896a;color:#fff;font-size:0;text-align:center;}
			.tabmenu>li>a:focus{padding:25px 0;font-size:15px;}


#header{position:relative;width:100%;height:auto;}
.header-wrap{position:relative;width:100%;height:auto;margin:0 auto;padding:0 2.5%;box-sizing:border-box;} /*전체 패딩*/
	.header-row1{position:relative;width:100%;height:26px;}
	/*맨위 로그인 버튼*/		
		.header-row1-left{position:absolute;top:5px;width:auto;height:auto;}
			.header-row1-left>li{float:left;margin-right:10px;}
			@media all and (max-width:672px){
			.header-row1-left>li{float:left;margin-right:5px;}
			}				
				.header-row1-left>li:nth-child(2){width:1px;height:14px;background:#917e3e;}
				@media all and (max-width:672px){
				.header-row1-left>li:nth-child(2){height:10px;}
				}				
				a.LoginBt{display:block;color:#917e3e;font-size:14px;}
				@media all and (max-width:672px){
				a.LoginBt{font-size:8px;}
				}				
	/*맨위 sns 버튼*/		
		.header-row1-right{position:absolute;top:5px;right:0;width:auto;height:auto;}
			.header-row1-right>li{float:left;margin-right:5px;}
			@media all and (max-width:672px){
			.header-row1-right>li{margin-right:4px;}
			}				
			a.headerSnsBt{display:block;font-size:16px;color:#b2b2b2;}
			@media all and (max-width:672px){
			a.headerSnsBt{font-size:14px;margin-right:4px;}
			}			
				a.headerSnsBt:hover{color:#917e3e;}
			a.headerBt{display:block;margin-left:5px;margin-top:2px;font-size:12px;color:#b2b2b2;}
			@media all and (max-width:672px){
			a.headerBt{margin-top:4px;font-size:10px;}
			}			
				a.headerBt:hover{color:#917e3e;}

	/*로고버튼이랑 텍스트*/
	.header-row2{position:relative;width:100%;height:auto;}
	@media all and (max-width:700px){
	.header-row2{position:relative;width:100%;height:auto;padding:0 2.5%;box-sizing:border-box;}
	}	
		.header-logo-wrap{position:relative;width:100%;height:141px;}
		@media all and (max-width:700px){
		.header-logo-wrap{position:relative;width:50%;height:50px;}
		}		
			.header-logo-wrap>li{text-align:center;}
			@media all and (max-width:700px){
			.header-logo-wrap>li{text-align:left;}
			}			
				a.logoBt1{display:block;font-size:75px;color:#917e3e;}
				@media all and (max-width:700px){
				a.logoBt1{font-size:43px;}
				}				
				a.logoBt2{display:block;font-size:16px;color:#555;}
				@media all and (max-width:700px){
				a.logoBt2{font-size:7px;margin-left:43px;}
				}				
				.header-logo-wrap>li:nth-child(3){position:absolute;bottom:12px;left:50%;margin-left:-230px;width:460px;height:20px;}
				@media all and (max-width:700px){
				.header-logo-wrap>li:nth-child(3){display:none;left:7.5%;margin-left:0px;bottom:2px;width:80%;height:auto;}
				}				
				.header-logo-wrap>li:nth-child(3)>img{width:100%;height:100%;}
/*모바일 메뉴*/
			.mobile-menu-wrap{display:none;position:absolute;top:0;right:0;width:50%;height:50px;}
			@media all and (max-width:700px){
			.mobile-menu-wrap{display:block;}
			}
				.mobile-menu-wrap>li{margin-left:78%;margin-top:4%;}
				@media all and (max-width:360px){
				.mobile-menu-wrap>li{margin-left:75%;margin-top:4%;}
				}
				@media all and (max-width:360px){
				.mobile-menu-wrap>li{margin-left:72%;margin-top:8%;}
				}
				
					a.menuBt1{display:block;font-size:30px;color:#ccc;}
					@media all and (max-width:360px){
					a.menuBt1{display:block;font-size:25px;color:#ccc;}
					}
				
			.mobile-img-text{display:none;position:relative;width:100%;height:20px;}
			@media all and (max-width:700px){
			.mobile-img-text{display:block;}
			}			
				.mobile-img-text>li{padding-left:10%;padding-top:3px;width:80%;height:auto;}
				.mobile-img-text>li>img{width:100%;height:100%;}
/*모바일 서브메뉴*/
			.mobile-sub-menu{display:none;z-index:5;position:fixed;width:80%;min-width:80%;height:auto;top:0;right:0;background:#fff;box-sizing:border-box;}
				.mobile-sub-menu>li{width:100%;height:50px;}
					.mobile-sub-menu>li:nth-child(4),
					.mobile-sub-menu>li:nth-child(6),
					.mobile-sub-menu>li:nth-child(9),
					.mobile-sub-menu>li:nth-child(12),
					.mobile-sub-menu>li:nth-child(14),
					.mobile-sub-menu>li:nth-child(16),
					.mobile-sub-menu>li:nth-child(18){width:100%;height:auto;background:#ccc;}
					
					.mobile-sub-menu>li:nth-child(1),
					.mobile-sub-menu>li:nth-child(2),
					.mobile-sub-menu>li:nth-child(7),
					.mobile-sub-menu>li:nth-child(10),
					.mobile-sub-menu>li:nth-child(19){background:rgba(109,100,77,0.8);}				
					
						a.mobile-subBt{display:block;color:#fff;font-size:16px;line-height:50px;padding-left:20px;}
						a.mobile-subBt>i{display:block;float:right;font-size:30px;margin-top:3%;margin-right:2%;}
						a.mobile-subBt>i:nth-child(2){display:none;}
					
						a.mb-sub-Bt{display:block;color:#666;font-size:16px;line-height:50px;padding-left:20px;}
				
				.mobile-subsub-menu{display:none;position:relative;width:100%;height:auto;background:#ccc;}
					.mobile-subsub-menu>li{width:100%;height:50px;}
					
					
					a.mobile-subsubtBt{display:block;color:#666;font-size:16px;line-height:50px;padding-left:30px;}
	
	.header-row3{position:relative;width:100%;height:43px;}	
	@media all and (max-width:700px){
	.header-row3{display:none;}
	}
		.menu-wrap{position:absolute;top:0;left:50%;margin-left:-424px;width:auto;height:100%;}
			@media all and (max-width:965px){
				.menu-wrap{left:50%;margin-left:-307.39px;}
			}	
	
			
			.menu-wrap>li{float:left;margin:0 15px;width:auto;height:100%;}
			@media all and (max-width:965px){
				.menu-wrap>li{margin:0 5px;}
			}				
			a.menuBt{display:block;font-size:13px;color:#c4b493;font-weight:600;}
			@media all and (max-width:965px){
				a.menuBt{font-size:11px;}
			}		
		
		
		.find-wrap{position:absolute;top:0;left:95%;width:auto;height:auto;}
		@media all and (max-width:770px){
		.find-wrap{display:none;}
		}		
			.find-wrap{position:relative;width:25px;height:24px;}
			.find-wrap>img{width:100%;height:100%;}
			a.findBt{position:absolute;top:0;left:0;width:100%;height:100%;}

		
	/*서브메뉴*/
		/*DESIGNER 서브*/
		.sub-DESIGNER-bg{display:none;z-index:2;position:absolute;top:43px;left:0;width:100%;height:72px;background:#fff;opacity:0.9;} /*임시로 display:none;*/
			.sub-DESIGNER{display:none;z-index:3;position:absolute;top:24px;left:0;width:auto;height:auto;} /*임시로 display:none;*/
			.sub-DESIGNER>li:nth-child(2){margin-top:20px;}

		/*COLLECTIONS 서브*/
		.sub-COLLECTIONS-bg{display:none;z-index:2;position:absolute;top:43px;left:0;width:100%;height:130px;background:#fff;opacity:0.9;} /*임시로 display:none;*/
/*left값 물어보기*/.sub-COLLECTIONS{display:none;z-index:3;position:absolute;top:24px;width:auto;height:auto;}/*임시로 display:none;*/
			.sub-COLLECTIONS>li:nth-child(2){margin-top:20px;}
				.sub-COLLECTIONS-Bt-wrap{position:relative;margin-left:-100px;width:350px;height:auto;background:#ccc;}
					.sub-COLLECTIONS-Bt-wrap-left{position:absolute;top:0;left:0;width:50%;height:auto;border-right:1px solid #917e5a;}
					.sub-COLLECTIONS-Bt-wrap-right{position:absolute;top:0;right:0;width:50%;height:auto;}
			
		/*ACCESSORIES 서브*/
		.sub-ACCESSORIES-bg{display:none;z-index:2;position:absolute;top:43px;left:0;width:100%;height:160px;background:#fff;opacity:0.9;} /*임시로 display:none;*/
/*left값 물어보기*/.sub-ACCESSORIES{display:none;z-index:3;position:absolute;top:24px;width:auto;height:auto;}/*임시로 display:none;*/
			.sub-ACCESSORIES>li:nth-child(2){margin-top:20px;}
				.sub-ACCESSORIES-Bt-wrap{position:relative;margin-left:-220px;width:650px;height:130px;}
					.sub-ACCESSORIES-Bt-wrap-1{position:absolute;top:0;left:0;width:25%;height:130px;border-right:1px solid #917e5a;}
					.sub-ACCESSORIES-Bt-wrap-2{position:absolute;top:0;left:25%;width:25%;height:130px;border-right:1px solid #917e5a;}
					.sub-ACCESSORIES-Bt-wrap-3{position:absolute;top:0;right:25%;width:25%;height:130px;border-right:1px solid #917e5a;}
					.sub-ACCESSORIES-Bt-wrap-4{position:absolute;top:0;right:0;width:25%;height:130px;}
					.AccesBtBold{text-align:left;font-size:14px;margin:5px 0;padding-left:25px;color:#917e5a;font-weight:800;}
		
		/*BOUTIQUE 서브*/
		.sub-BOUTIQUE-bg{display:none;z-index:2;position:absolute;top:43px;left:0;width:100%;height:70px;background:#fff;opacity:0.9;} /*임시로 display:none;*/
/*left값 물어보기*/.sub-BOUTIQUE{display:none;z-index:3;position:absolute;top:24px;width:auto;height:auto;} /*임시로 display:none;*/
			.sub-BOUTIQUE>li:nth-child(2){margin-top:20px;}		
				.sub-BOUTIQUE-Bt-wrap{position:relative;margin-left:-45px;width:200px;height:auto;}
					.sub-BOUTIQUE-Bt-wrap>li{float:left;}
					.sub-BOUTIQUE-Bt-wrap>li:nth-child(2){margin-left:15px;width:1px;height:23px;background:#917e5a;}

		/*NEWS 서브*/
		.sub-NEWS-bg{display:none;z-index:2;position:absolute;top:43px;left:0;width:100%;height:100px;background:#fff;opacity:0.9;} /*임시로 display:none;*/
/*left값 물어보기*/.sub-NEWS{display:none;z-index:3;position:absolute;top:24px;width:auto;height:auto;}/*임시로 display:none;*/
			.sub-NEWS>li:nth-child(2){margin-top:20px;}
				.sub-NEWS-Bt-wrap{position:relative;margin-left:-100px;width:350px;height:auto;}
					.sub-NEWS-Bt-wrap-left{position:absolute;top:0;left:0;width:50%;height:auto;border-right:1px solid #917e5a;}
					.sub-NEWS-Bt-wrap-right{position:absolute;top:0;right:0;width:50%;height:auto;}
					
			
	/*서브메뉴 버튼 공통 클래스*/
			.sub>li:nth-child(1){position:relative;top:0;left:25px;width:30px;height:19px;}
				.sub>li:nth-child(1)>img{width:100%;height:100%;}
			a.subBt{display:block;text-align:left;font-size:14px;margin:5px 0;padding-left:25px;color:#917e5a;font-weight:500;}
			a.subBt:hover{text-decoration:underline;}
	/*gotop 버튼*/
		.goTopBt-wrap{z-index:4;position:fixed;left:50%;margin-left:-20px;bottom:3%;width:50px;height:50px;opacity:0;}
			.goTopBt-wrap>li{width:100%;height:100%;}
				.goTopBt-wrap>li>img{width:100%;height:100%;}
				a.goTopBt{display:block;position:absolute;top:0;left:0;width:100%;height:100%;}		
		
#main{position:relative;width:100%;height:auto;}
.main-wrap1{position:relative;width:100%;height:auto;margin:0 auto;padding:0 2.5%;box-sizing:border-box;}	/*전체 패딩 섹션1~4 6*/
	
	#section1{position:relative;width:100%;height:auto;padding-bottom:3%;}
		.section1-img{position:relative;width:100%;height:auto;}
		@media all and (max-width:650px){
		.section1-img{display:none;}
		}		
				.section1-img>li{position:relative;width:100%;height:auto;}
					.section1-img>li>img{width:100%;height:auto;}
					a.watchBt{position:absolute;top:0;left:0;width:100%;height:100%;}
	/*모바일용*/	
		.mobile-sec1-img{display:none;position:relative;width:100%;height:auto;}
		@media all and (max-width:650px){
		.mobile-sec1-img{display:block;}
		}		
			.mobile-sec1-img>li{position:relative;width:100%;height:auto;}
				.mobile-sec1-img>li>img{width:100%;height:auto;}
		
	#section2{position:relative;width:100%;height:auto;padding-bottom:3%;}
		.section2-wrap{position:relative;width:100%;height:auto;}

		/*섹션2 이미지1*/	
			.section2-img{position:relative;width:100%;height:auto;}
				.section2-img>li{position:relative;width:100%;height:auto;}
					.section2-img>li>img{width:100%;height:auto;}
			/*discover more버튼*/	
				.section2-imgBt1{position:absolute;bottom:15%;left:18%;width:auto;height:auto;}
				@media all and (max-width:650px){
				.section2-imgBt1{bottom:15%;left:10%;width:80%;text-align:center;}
				}					
					a.sec2Bt1{display:block;padding:10px 30px;border:1px solid #fff;background:#eee;color:#777;font-size:15px;font-family:arial;letter-spacing:1px;}
					@media all and (max-width:650px){
					a.sec2Bt1{padding:7px 30px;border:1px solid #fff;background:#eee;color:#777;font-size:13px;font-family:arial;letter-spacing:1px;}
					}					
					
		/*섹션2 이미지2*/
		.section2-img2{position:relative;width:100%;height:auto;}
				.section2-img2>li{position:relative;width:100%;height:auto;}
					.section2-img2>li>img{width:100%;height:auto;}
			/*discover more버튼2*/	
				.section2-imgBt2{position:absolute;bottom:15%;right:16%;width:auto;height:auto;}
				@media all and (max-width:650px){
				.section2-imgBt2{bottom:15%;left:10%;width:80%;text-align:center;}
				}				
					a.sec2Bt2{display:block;padding:10px 30px;border:1px solid #fff;background:#eee;color:#777;font-size:15px;font-family:arial;letter-spacing:1px;}
					@media all and (max-width:650px){
					a.sec2Bt2{padding:7px 30px;border:1px solid #fff;background:#eee;color:#777;font-size:13px;font-family:arial;letter-spacing:1px;}
					}	
					
	
	#section3{position:relative;width:100%;height:auto;padding-bottom:3%;}
		.section3-wrap1,			
		.section3-wrap2{position:relative;width:100%;height:auto;}				
	/*첫줄*/	.section3-wrap1>li{position:relative;width:50%;height:auto;float:left;padding-bottom:3%;}
			@media all and (max-width:745px){
			.section3-wrap1>li{position:relative;width:100%;height:auto;float:left;padding-bottom:3%;}
			}	
	/*둘째줄*/.section3-wrap2>li{position:relative;width:50%;height:auto;float:left;}	
			@media all and (max-width:745px){
			.section3-wrap2>li{position:relative;width:100%;height:auto;float:left;padding-bottom:3%;}
			}	
				.section3-wrap1>li:nth-child(1),
				.section3-wrap2>li:nth-child(1){padding-right:1%;box-sizing:border-box;}
				.section3-wrap1>li:nth-child(2),			
				.section3-wrap2>li:nth-child(2){padding-left:1%;box-sizing:border-box;}				
				@media all and (max-width:745px){
				.section3-wrap1>li:nth-child(1),
				.section3-wrap2>li:nth-child(1){padding-right:0;box-sizing:border-box;}
				.section3-wrap1>li:nth-child(2),			
				.section3-wrap2>li:nth-child(2){padding-left:0;box-sizing:border-box;}		
				}
			
		/*섹션3 이미지 공통클래스*/	
			.s3img{position:relative;width:100%;height:auto;}
				.s3img>li{position:relative;width:100%;height:auto;}
					.s3img>li>img{width:100%;height:auto;}

		
		/*섹션3discover more 공통 클래스*/	
				.section3-imgBt{position:absolute;bottom:15%;right:40%;width:auto;height:auto;}
				@media all and (max-width:745px){
				.section3-imgBt{bottom:15%;left:10%;width:80%;text-align:center;}
				}				
					a.sec3Bt{display:block;padding:10px 20px;border:1px solid #fff;background:#eee;color:#777;font-size:13px;font-family:arial;letter-spacing:1px;}		
					@media all and (max-width:745px){
					a.sec3Bt{padding:7px 30px;border:1px solid #fff;background:#eee;color:#777;font-size:13px;font-family:arial;letter-spacing:1px;}		
					}


	#section4{position:relative;width:100%;height:auto;padding-bottom:3%;}						
		.section4-wrap{position:relative;width:100%;height:auto;}	
	/*섹션4 왼쪽*/
			.section4-L-wrap{position:relative;top:0;left:0;width:67%;height:auto;padding-right:1%;box-sizing:border-box;}
			@media all and (max-width:745px){
			.section4-L-wrap{position:relative;top:0;left:0;width:100%;height:auto;padding-right:1%;box-sizing:border-box;}
			}			
				.S4L-wrap{position:relative;width:100%;height:auto;padding-bottom:3%;}			
		
		/*섹션4 왼쪽 이미지 공통클래스*/	
			.s4img{position:relative;width:100%;height:auto;}
				.s4img>li{position:relative;width:100%;height:auto;}
					.s4img>li>img{width:100%;height:auto;}


	/*섹션4 오른쪽*/					
			.section4-R-wrap{position:absolute;top:0;right:0;width:33%;height:auto;padding-left:1.5%;box-sizing:border-box;}
			@media all and (max-width:745px){
			.section4-R-wrap{position:relative;top:10px;padding-top:3%;left:0;width:100%;height:auto;padding-right:1%;box-sizing:border-box;}
			}			
				.section4-R-wrap>li{position:relative;width:100%;height:auto;padding-bottom:7%;}
		/*섹션4 오른쪽 이미지 공통클래스*/
					.s4R-img{position:relative;width:100%;height:auto;}
						.s4R-img>img{width:100%;height:auto;}
		
						.babo{position:absolute;top:0;left:0;width:100%;height:100%;min-height:100%;}
					
					
		/*섹션4 왼쪽이미지 discover more 공통 클래스*/	
		.section4-imgBtL{position:absolute;bottom:20%;left:19%;width:auto;height:auto;}
		@media all and (max-width:745px){
		.section4-imgBtL{bottom:15%;left:10%;width:80%;text-align:center;}
		}		
		a.sec4BtL{display:block;padding:10px 20px;border:1px solid #fff;background:#eee;color:#777;font-size:13px;font-family:arial;letter-spacing:1px;}		
		@media all and (max-width:745px){
		a.sec4BtL{padding:7px 30px;}		
		}		
		
	/*섹션4-1-오른쪽이미지 텍스트*/
		.section4-imgBtR-1{position:absolute;bottom:20%;right:29%;width:auto;height:auto;}
		@media all and (max-width:1830px){
		.section4-imgBtR-1{position:absolute;top:57%;right:27%;width:auto;height:auto;}
		}
		@media all and (max-width:1461px){
		.section4-imgBtR-1{position:absolute;bottom:20%;right:20%;width:60%;height:auto;}
		}
		@media all and (max-width:280px){
		.section4-imgBtR-1{position:absolute;top:53%;right:20%;width:60%;height:auto;}
		}
		
		.section4-imgBtR-1>li{text-align:center;}
			.section4-imgBtR-1>li:nth-child(1){font-size:17px;color:#917e5a;margin-bottom:5%;}
			.section4-imgBtR-1>li:nth-child(2){font-size:30px;color:#666;margin-bottom:8%;}
			.section4-imgBtR-1>li:nth-child(3){font-size:18px;color:#917e5a;margin-bottom:8%;}	
			@media all and (max-width:1252px){
			.section4-imgBtR-1>li:nth-child(1){font-size:16px;margin-bottom:2%;}
			.section4-imgBtR-1>li:nth-child(2){font-size:24px;margin-bottom:3%;}
			.section4-imgBtR-1>li:nth-child(3){font-size:17px;margin-bottom:3%;}	
			}
			@media all and (max-width:1025px){
			.section4-imgBtR-1>li:nth-child(1){font-size:13px;}
			.section4-imgBtR-1>li:nth-child(2){font-size:18px;}
			.section4-imgBtR-1>li:nth-child(3){font-size:14px;}	
			}
			@media all and (max-width:745px){
			.section4-imgBtR-1>li:nth-child(1){font-size:17px;margin-bottom:5%;}
			.section4-imgBtR-1>li:nth-child(2){font-size:30px;margin-bottom:8%;}
			.section4-imgBtR-1>li:nth-child(3){font-size:18px;margin-bottom:8%;}	
			}
			@media all and (max-width:394px){
			.section4-imgBtR-1>li:nth-child(1){font-size:13px;margin-bottom:5%;}
			.section4-imgBtR-1>li:nth-child(2){font-size:18px;margin-bottom:5%;}
			.section4-imgBtR-1>li:nth-child(3){font-size:9px;margin-bottom:5%;}	
			}
			@media all and (max-width:333px){
			.section4-imgBtR-1>li:nth-child(1){font-size:13px;}
			.section4-imgBtR-1>li:nth-child(2){font-size:14px;}
			.section4-imgBtR-1>li:nth-child(3){font-size:7px;}	
			}
			
	/*섹션4-2-오른쪽이미지 텍스트*/
		.section4-imgBtR-2{position:absolute;bottom:34%;right:27%;width:45%;height:auto;}
		@media all and (max-width:1830px){
		.section4-imgBtR-2{position:absolute;top:57%;right:27%;width:auto;height:auto;}
		}
		@media all and (max-width:1461px){
		.section4-imgBtR-2{position:absolute;bottom:20%;right:20%;width:60%;height:auto;}
		}
		@media all and (max-width:280px){
		.section4-imgBtR-2{position:absolute;top:53%;right:20%;width:60%;height:auto;}
		}		
			.section4-imgBtR-2>li{text-align:center;}
			.section4-imgBtR-2>li:nth-child(1){font-size:17px;color:#917e5a;margin-bottom:5%;}
			.section4-imgBtR-2>li:nth-child(2){font-size:30px;color:#666;margin-bottom:8%;}
			@media all and (max-width:1252px){
			.section4-imgBtR-2>li:nth-child(1){font-size:16px;color:#917e5a;margin-bottom:2%;}
			.section4-imgBtR-2>li:nth-child(2){font-size:24px;color:#666;margin-bottom:3%;}
			}
			@media all and (max-width:1025px){
			.section4-imgBtR-2>li:nth-child(1){font-size:13px;color:#917e5a;margin-bottom:2%;}
			.section4-imgBtR-2>li:nth-child(2){font-size:18px;color:#666;margin-bottom:3%;}
			}			
			@media all and (max-width:745px){
			.section4-imgBtR-2>li:nth-child(1){font-size:17px;margin-bottom:5%;}
			.section4-imgBtR-2>li:nth-child(2){font-size:30px;margin-bottom:8%;}
			.section4-imgBtR-2>li:nth-child(3){font-size:18px;margin-bottom:8%;}	
			}
			@media all and (max-width:394px){
			.section4-imgBtR-2>li:nth-child(1){font-size:13px;margin-bottom:5%;}
			.section4-imgBtR-2>li:nth-child(2){font-size:18px;margin-bottom:5%;}
			.section4-imgBtR-2>li:nth-child(3){font-size:9px;margin-bottom:5%;}	
			}
			@media all and (max-width:333px){
			.section4-imgBtR-2>li:nth-child(1){font-size:13px;}
			.section4-imgBtR-2>li:nth-child(2){font-size:14px;}
			.section4-imgBtR-2>li:nth-child(3){font-size:7px;}	
			}
			
	/*섹션4-3-오른쪽이미지 텍스트*/
		.section4-imgBtR-3{position:absolute;bottom:10%;right:27%;width:auto;height:auto;}
		@media all and (max-width:1830px){
		.section4-imgBtR-3{position:absolute;top:80%;right:20%;width:auto;height:auto;}
		}
		@media all and (max-width:1461px){
		.section4-imgBtR-3{position:absolute;bottom:20%;right:15%;width:70%;height:auto;}
		}		
			.section4-imgBtR-3>li{text-align:center;}
			.section4-imgBtR-3>li:nth-child(1){font-size:17px;color:#917e5a;margin-bottom:5%;}
			.section4-imgBtR-3>li:nth-child(2){font-size:30px;color:#666;margin-bottom:8%;}
			@media all and (max-width:1252px){
			.section4-imgBtR-3>li:nth-child(1){font-size:16px;color:#917e5a;margin-bottom:2%;}
			.section4-imgBtR-3>li:nth-child(2){font-size:24px;color:#666;margin-bottom:3%;}
			}			
			@media all and (max-width:1025px){
			.section4-imgBtR-3>li:nth-child(1){font-size:13px;color:#917e5a;margin-bottom:2%;}
			.section4-imgBtR-3>li:nth-child(2){font-size:18px;color:#666;margin-bottom:3%;}
			}				
			

		/*섹션4 오른쪽이미지 버튼 공통 클래스*/			
			a.sec4BtR{display:block;padding:10px 70px;border:1px solid #917e5a;background:#917e5a;color:#fff;font-size:13px;font-family:arial;letter-spacing:1px;opacity:0.6;}
			@media all and (max-width:1461px){
			a.sec4BtR{display:block;padding:10px 30px;border:1px solid #917e5a;background:#917e5a;color:#fff;font-size:9px;font-family:arial;letter-spacing:1px;opacity:0.6;}				
			}
			@media all and (max-width:785px){
			a.sec4BtR{display:block;padding:10px 10px;border:1px solid #917e5a;background:#917e5a;color:#fff;font-size:9px;font-family:arial;letter-spacing:1px;opacity:0.6;}				
			}
			
			a.sec4BtR:hover{display:block;padding:10px 70px;border:1px solid #917e5a;background:#fff;color:#917e5a;font-size:13px;font-family:arial;letter-spacing:1px;opacity:0.6;}						

.main-wrap2{position:relative;width:100%;height:auto;margin:0 auto;padding:0 2.5%;box-sizing:border-box;background:#ececec;}
	#section5{position:relative;width:100%;height:auto;padding-bottom:3%;}	
		.section5-wrap{position:relative;width:100%;height:auto;}	
	/*섹션5 왼쪽*/
			.section5-L-wrap{position:relative;top:0;left:0;width:66%;height:auto;padding:0 1.5%;box-sizing:border-box;}
			@media all and (max-width:734px){
			.section5-L-wrap{width:100%;}
			}			
				.section5-L-wrap>li{position:relative;width:100%;height:auto;padding-top:3%;}
					.s5L-img{position:relative;width:100%;height:auto;}
						.s5L-img>img{width:100%;height:auto;}
			/*구두이미지 링크*/a.sec5imgBt{position:absolute;top:0;left:0;width:100%;height:100%;}
						
						
	/*섹션5 왼쪽이미지 1 버튼*/
			.section5-imgBtL-1{position:absolute;bottom:28%;right:14%;width:auto;height:auto;}
			@media all and (max-width:745px){
			.section5-imgBtL-1{bottom:15%;left:10%;width:80%;text-align:center;}
			}			
			a.sec5BtL{display:block;padding:10px 70px;border:1px solid #555;background:transparent;color:#555;font-size:13px;font-family:arial;letter-spacing:1px;opacity:0.6;}
			@media all and (max-width:745px){
			a.sec5BtL{padding:10px 10px;font-size:11px;}
			}	
	/*섹션5 왼쪽이미지 2& 오른쪽 텍스트*/
			.sec5-text-wrap{position:absolute;bottom:20%;left:2%;width:50%;height:auto;}			
			.s5text-wrap2{position:absolute;bottom:2%;left:14%;width:70%;height:auto;} /*섹션5 오른쪽 이미지 텍스트 이동*/
			@media all and (max-width:1582px){
			.s5text-wrap2{position:absolute;bottom:2%;left:5%;width:90%;height:auto;}
			}
			@media all and (max-width:734px){
			.s5text-wrap2{position:absolute;top:55%;left:42%;width:70%;height:auto;}
			}
			@media all and (max-width:320px){
			.s5text-wrap2{position:absolute;top:55%;left:54%;width:47%;height:auto;}
			}
			
				.sec5-text-wrap>li{text-align:center;color:#917e5a;margin-top:5%;}
				@media all and (max-width:1582px){
				.sec5-text-wrap>li{margin-top:6%;}
				}				
				.sec5-text-wrap>li:nth-child(1){font-size:25px;}
				@media all and (max-width:1582px){
				.sec5-text-wrap>li:nth-child(1){font-size:20px;}
				}	
				@media all and (max-width:944px){
				.sec5-text-wrap>li:nth-child(1){font-size:15px;}
				}	
				@media all and (max-width:734px){
				.sec5-text-wrap>li:nth-child(1){font-size:13px;}
				}				
				.sec5-text-wrap>li:nth-child(2){font-size:18px;}	
				@media all and (max-width:1582px){
				.sec5-text-wrap>li:nth-child(2){font-size:13px;}	
				}
				@media all and (max-width:734px){
				.sec5-text-wrap>li:nth-child(2){font-size:11px;}	
				}				
				
	/*섹션5 오른쪽*/					
			.section5-R-wrap{position:absolute;top:0;right:2%;width:30%;height:auto;padding-left:2.5%;box-sizing:border-box;}
			@media all and (max-width:734px){
			.section5-R-wrap{display:none;}
			}			
				.section5-R-wrap>li{position:relative;width:100%;height:auto;padding-top:7%;}		
					.s5R-img{position:relative;width:100%;height:auto;}
						.s5R-img>img{width:100%;height:auto;}	
	/*모바일 버전에 교체되는 이미지*/
			.sec5-mobile-row3{display:none;position:relative;top:0;left:0;width:100%;height:auto;padding:0 1.5%;box-sizing:border-box;}
			@media all and (max-width:734px){
			.sec5-mobile-row3{display:block;}
			}			
				.sec5-mobile-row3>li{position:relative;width:100%;height:auto;padding-top:3%;}
					.sec5-mobile-row3>li>img{width:100%;height:auto;}
			
	#section6{position:relative;width:100%;height:auto;padding-bottom:3%;}
		.section6-wrap{position:relative;width:100%;height:auto;}		
			.section6-L-wrap{position:relative;top:0;left:0;width:33%;height:auto;padding-left:4%;box-sizing:border-box;}
			@media all and (max-width:740px){
			.section6-L-wrap{width:100%;}
			}				
				.section6-L-wrap>li{position:relative;width:100%;height:auto;padding-top:2%;}
					.s6L-img{position:relative;width:100%;height:auto;}
					.s6L-img>img{width:100%;height:auto;}
			/*구두이미지 링크*/a.sec6imgBt{position:absolute;top:0;left:0;width:100%;height:100%;}
			
			/*섹션6왼쪽이미지 텍스트*/
				.sec6-text-wrap{position:absolute;top:85%;left:0%;width:100%;height:auto;}
					.sec6-text-wrap>li{text-align:center;color:#917e5a;margin-top:6%;}
					@media all and (max-width:900px){
					.sec6-text-wrap>li{margin-top:4%;}
					}					
					
					.sec6-text-wrap>li:nth-child(1){font-size:25px;color:#555;}
					@media all and (max-width:900px){
					.sec6-text-wrap>li:nth-child(1){font-size:19px;}
					}
					@media all and (max-width:740px){
					.sec6-text-wrap>li:nth-child(1){font-size:25px;}
					}
					
					.sec6-text-wrap>li:nth-child(2){width:100%;height:1px;background:#917e5a;}
					@media all and (max-width:900px){
					.sec6-text-wrap>li:nth-child(2){width:80%;margin-left:10%;}
					}
					@media all and (max-width:740px){
					.sec6-text-wrap>li:nth-child(2){width:40%;margin-left:30%;}
					}
					@media all and (max-width:408px){
					.sec6-text-wrap>li:nth-child(2){width:80%;margin-left:10%;}
					}
					
					.sec6-text-wrap>li:nth-child(3){font-size:16px;}
					@media all and (max-width:900px){
					.sec6-text-wrap>li:nth-child(3){font-size:12px;}
					}
					@media all and (max-width:740px){
					.sec6-text-wrap>li:nth-child(3){font-size:16px;}
					}					
/*섹션6 오른쪽 wrap*/		
			.section6-R-wrap{position:absolute;top:0;right:0;width:67%;height:auto;box-sizing:border-box;}
			@media all and (max-width:740px){
			.section6-R-wrap{position:relative;width:100%;height:auto;padding-left:4%;box-sizing:border-box;}
			}			
				.S6R-wrap{position:relative;width:100%;height:auto;padding-bottom:3%;}			
		
		/*섹션6 오른쪽 슬라이드 wrap*/	
			.sec6-slide-wrap{position:relative;width:100%;height:auto;}
				.sec6-slide-wrap>li{position:relative;width:auto;height:auto;text-align:center;}
					.sec6-slide-wrap>li>h2{margin-top:5%;color:#917e5a;font-size:25px;}
					@media all and (max-width:402px){
					.sec6-slide-wrap>li>h2{margin-top:3%;font-size:18px;}
					}					
					.sec6-slide-wrap>li>h2>span{color:#555;font-size:25px;}
					@media all and (max-width:402px){
					.sec6-slide-wrap>li>h2>span{margin-top:3%;font-size:18px;}
					}					
					.sec6-slide-wrap>li>p{margin-top:2px;margin-left:43%;width:15%;height:1px;background:#917e5a;left:50%;}
					@media all and (max-width:718px){
					.sec6-slide-wrap>li>p{margin-top:2px;margin-left:35%;width:30%;height:1px;background:#917e5a;left:50%;}
					}
					@media all and (max-width:402px){
					.sec6-slide-wrap>li>p{margin-top:2px;margin-left:28%;width:43%;height:1px;background:#917e5a;left:50%;}
					}
					
			/*섹션6 슬라이드*/		
				.s6Slide{position:relative;margin:0 auto;width:70%;height:auto;overflow:hidden;margin-top:3%;} /*overflow : hidden*/
					.sec6-slide{position:absolute;top:0;width:100%;height:auto;float:left;}
					
						.slide1{position:relative;left:0%;}
						.slide2{left:100%;}
						.slide3{left:200%;}
						.slide4{left:300%;}
						.slide5{left:400%;}
						.slide6{left:500%;}
						.slide7{left:600%;}
						.slide8{left:700%;}
						.slide9{left:-100%;}
						
						.s6Slide>li>img{width:100%;height:auto;}
						a.slideBt{position:absolute;top:0;left:0;width:100%;height:100%;}
			/*섹션6 화살버튼*/
				.slide-arrowBt{position:absolute;top:45%;left:0;width:100%;height:auto;}
					.slide-arrowBt>li{float:left;width:80px;height:80px;}
					@media all and (max-width:402px){
					.slide-arrowBt>li{float:left;width:auto;height:auto;}
					}					
						.slide-arrowBt>li:nth-child(1){position:absolute;top:0;left:5%;}
						.slide-arrowBt>li:nth-child(2){position:absolute;top:0;right:5%;}
						@media all and (max-width:814px){
						.slide-arrowBt>li:nth-child(1){left:3%;}
						.slide-arrowBt>li:nth-child(2){right:3%;}						
						}
						@media all and (max-width:780px){
						.slide-arrowBt>li:nth-child(1){left:0;}
						.slide-arrowBt>li:nth-child(2){right:0;}						
						}
						
							a.arrow{display:block;text-align:center;font-size:80px;color:#c4b493;}
							@media all and (max-width:1054px){
							a.arrow{font-size:60px;}
							}
							@media all and (max-width:814px){
							a.arrow{font-size:40px;}
							}
							
							a.arrow:hover{color:#917e3e;}
			
			/*섹션6 플레이버튼*/		
				.slide-playBt{position:absolute;top:45%;left:47%;width:auto;height:auto;}
				@media all and (max-width:520px){
				.slide-playBt{left:44%;}
				}				
					.slide-playBt>li{width:auto;height:auto;}					
						a.playBt{display:block;text-align:center;font-size:90px;color:rgba(255,255,255,0.6);}
						@media all and (max-width:814px){
						a.playBt{font-size:70px;}
						}
						@media all and (max-width:520px){
						a.playBt{font-size:50px;}
						}						
						a.playBt:hover{display:block;text-align:center;font-size:90px;color:rgba(255,255,255,0.9);}
			
			
		.sec6-gallery-wrap{position:relative;width:100%;height:auto;margin-top:5%}
			.sec6-gallery-wrap>li{position:relative;width:100%;height:auto;text-align:center;}
				.sec6-gallery-wrap>li>h2{margin-top:5%;color:#555;font-size:25px;}
				@media all and (max-width:402px){
				.sec6-gallery-wrap>li>h2{margin-top:3%;font-size:18px;}
				}				
				.sec6-gallery-wrap>li>h2>span{color:#917e5a;font-size:25px;}
				@media all and (max-width:402px){
				.sec6-gallery-wrap>li>h2>span{margin-top:3%;font-size:18px;}
				}				
				.sec6-gallery-wrap>li>p{margin-top:2px;margin-left:40%;width:20%;height:1px;background:#917e5a;left:50%;}
				@media all and (max-width:402px){
				.sec6-gallery-wrap>li>p{margin-top:2px;margin-left:23%;width:55%;height:1px;background:#917e5a;left:50%;}
				}	
				
		/*갤러리 사진랩*/	
			.sec6-gallery-modal{position:relative;margin:0 auto;width:75%;height:auto;margin-top:3%}
			
			/*갤러리 모달 왼쪽*/	
				.sec6-gallery-modal>li{float:left;}
				.sec6-gallery-modal>li:nth-child(1){position:relative;width:50%;height:auto;box-sizing:border-box;overflow:hidden;}
					.sec6-gallery-modal>li:nth-child(1)>img{width:100%;height:auto;}
			
			/*갤러리 모달 오른쪽*/	
				.sec6-gallery-modal>li:nth-child(2){position:relative;top:0;right:0;width:50%;height:auto;}	
			
			/*갤러리 모달 오른쪽 row1*/		
					.sec6-gallery-modal-R-1{position:relative;width:100%;height:auto;}	
					.sec6-gallery-modal-R-1>li{float:left;position:relative;width:50%;height:auto;box-sizing:border-box;overflow:hidden;}	
						.sec6-gallery-modal-R-1>li:nth-child(1)>img{width:100%;height:auto;}		
						.sec6-gallery-modal-R-1>li:nth-child(2)>img{width:100%;height:auto;}		
			
			/*갤러리 모달 오른쪽 row1*/			
					.sec6-gallery-modal-R-2>li{float:left;position:relative;width:50%;height:auto;box-sizing:border-box;overflow:hidden;}
						.sec6-gallery-modal-R-2>li:nth-child(1)>img{width:100%;height:auto;}
						.sec6-gallery-modal-R-2>li:nth-child(2)>img{width:100%;height:auto;}
			
						a.modalImg{position:absolute;top:0;left:0;width:100%;height:100%;}
			
	#section7{position:relative;width:100%;height:auto;padding-bottom:3%;}			
		.section7-wrap{position:relative;width:100%;height:auto;}
		@media all and (max-width:920px){
		.section7-wrap{overflow:hidden;}
		}		
			.sec7-text-wrap{position:relative;width:100%;height:auto;}
				.sec7-text-wrap>li:nth-child(1){text-align:center;padding-top:4%;font-size:25px;color:#917e5a;}
				.sec7-text-wrap>li:nth-child(1)>span{color:#555;}
				.sec7-text-wrap>li:nth-child(2){margin-left:46%;margin-top:5px;width:8%;height:1px;background:#917e5a;}

			.section7-img-wrap{position:relative;margin-top:1%;width:100%;height:auto;padding:0 4%;box-sizing:border-box;}
			@media all and (max-width:920px){
			.section7-img-wrap{margin-top:4%;padding:0 0;}
			}				
				.section7-img-wrap>li{float:left;width:33.33333333333333%;height:auto;} /*마우스 오버시 배경 힌색으로 변경*/
				@media all and (max-width:920px){
				.section7-img-wrap>li{float:none;width:100%;height:auto;}
				}									
					.blog-1-wrap{position:relative;width:100%;height:auto;}
					@media all and (max-width:920px){
					.section7-img-wrap>li{box-sizing:border-box;overflow:hidden;}
					}					
						.blog-1-wrap>li{position:relative;margin:0 auto;width:80%;height:auto;text-align:center;}
							.blog-1-wrap>li:nth-child(1){position:relative;width:493px;height:527px;box-sizing:border-box;overflow:hidden;}
							@media all and (max-width:1762px){
							.blog-1-wrap>li:nth-child(1){width:454.13px;height:486px;}
							}
							@media all and (max-width:1627px){
							.blog-1-wrap>li:nth-child(1){width:418.56px;height:448.14px;}
							}
							@media all and (max-width:1492px){
							.blog-1-wrap>li:nth-child(1){width:384px;height:411px;}
							}
							@media all and (max-width:1366px){
							.blog-1-wrap>li:nth-child(1){width:294px;height:315px;}
							}
							@media all and (max-width:1014px){
							.blog-1-wrap>li:nth-child(1){width:260px;height:280px;}
							}
							
								.blog-1-wrap>li:nth-child(1)>img{width:auto;height:100%;}
							.blog-1-wrap>li:nth-child(2){margin-top:5%;font-size:23px;color:#666;font-weight:600;}
							@media all and (max-width:1366px){
							.blog-1-wrap>li:nth-child(2){margin-top:4%;font-size:20px;color:#777;}
							}
							@media all and (max-width:920px){
							.blog-1-wrap>li:nth-child(2){font-size:16px;margin-top:5%;margin-bottom:6%;}
							}
							
							.blog-1-wrap>li:nth-child(3){margin-top:26%;font-size:17px;color:#888;}
							@media all and (max-width:1366px){
							.blog-1-wrap>li:nth-child(3){margin-top:10%;font-size:15px;color:#888;}
							}
							.blog-1-wrap>li:nth-child(4){width:40%;height:auto;margin-top:17%;padding-bottom:5%;}
							@media all and (max-width:1014px){
							.blog-1-wrap>li:nth-child(4){width:50%;height:auto;margin-top:10%;padding-bottom:5%;}
							}
							@media all and (max-width:920px){
							.blog-1-wrap>li:nth-child(3),
							.blog-1-wrap>li:nth-child(4){display:none;}
							}							
					.blog-2-wrap{position:relative;width:100%;height:auto;}
					@media all and (max-width:920px){
					.blog-2-wrap{position:absolute;top:0;left:100%;width:100%;height:auto;}
					}						
						.blog-2-wrap>li{position:relative;margin:0 auto;width:80%;height:auto;text-align:center;}
							.blog-2-wrap>li:nth-child(1){position:relative;width:493px;height:527px;box-sizing:border-box;overflow:hidden;}
							@media all and (max-width:1762px){
							.blog-2-wrap>li:nth-child(1){width:454.13px;height:486px;}
							}
							@media all and (max-width:1627px){
							.blog-2-wrap>li:nth-child(1){width:418.56px;height:448.14px;}
							}
							@media all and (max-width:1492px){
							.blog-2-wrap>li:nth-child(1){width:384px;height:411px;}
							}
							@media all and (max-width:1366px){
							.blog-2-wrap>li:nth-child(1){width:294px;height:315px;}
							}
							@media all and (max-width:1014px){
							.blog-2-wrap>li:nth-child(1){width:260px;height:280px;}
							}							
							.blog-2-wrap>li:nth-child(1)>img{width:auto;height:100%;}
							.blog-2-wrap>li:nth-child(2){margin-top:5%;font-size:23px;color:#666;font-weight:600;}
							@media all and (max-width:1366px){
							.blog-2-wrap>li:nth-child(2){margin-top:4%;font-size:20px;color:#777;}
							}
							@media all and (max-width:920px){
							.blog-2-wrap>li:nth-child(2){font-size:16px;margin-top:5%;margin-bottom:6%;}
							}							
							.blog-2-wrap>li:nth-child(3){margin-top:23%;font-size:17px;color:#888;}
							@media all and (max-width:1366px){
							.blog-2-wrap>li:nth-child(3){margin-top:8%;font-size:15px;color:#888;}
							}
							.blog-2-wrap>li:nth-child(4){width:40%;height:auto;margin-top:17%;padding-bottom:5%;}
							@media all and (max-width:1014px){
							.blog-2-wrap>li:nth-child(4){width:50%;height:auto;margin-top:10%;padding-bottom:5%;}
							}
							@media all and (max-width:920px){
							.blog-2-wrap>li:nth-child(3),
							.blog-2-wrap>li:nth-child(4){display:none;}
							}	
					.blog-3-wrap{position:relative;width:100%;height:auto;}
					@media all and (max-width:920px){
					.blog-3-wrap{position:absolute;top:0;left:-100%;width:100%;height:auto;}
					}					
						.blog-3-wrap>li{position:relative;margin:0 auto;width:80%;height:auto;text-align:center;}
							.blog-3-wrap>li:nth-child(1){position:relative;width:493px;height:527px;overflow:hidden;box-sizing:border-box;overflow:hidden;}
							@media all and (max-width:1762px){
							.blog-3-wrap>li:nth-child(1){width:454.13px;height:486px;}
							}
							@media all and (max-width:1627px){
							.blog-3-wrap>li:nth-child(1){width:418.56px;height:448.14px;}
							}
							@media all and (max-width:1492px){
							.blog-3-wrap>li:nth-child(1){width:384px;height:411px;}
							}
							@media all and (max-width:1366px){
							.blog-3-wrap>li:nth-child(1){width:294px;height:315px;}
							}
							@media all and (max-width:1014px){
							.blog-3-wrap>li:nth-child(1){width:260px;height:280px;}
							}							
								.blog-3-wrap>li:nth-child(1)>img{width:100%;height:auto;}
							.blog-3-wrap>li:nth-child(2){margin-top:5%;font-size:23px;color:#666;font-weight:600;}
							@media all and (max-width:1366px){
							.blog-3-wrap>li:nth-child(2){margin-top:4%;font-size:20px;color:#777;}
							}
							@media all and (max-width:920px){
							.blog-2-wrap>li:nth-child(2){font-size:16px;margin-top:5%;margin-bottom:6%;}
							}							
							.blog-3-wrap>li:nth-child(3){margin-top:26%;font-size:17px;color:#888;}
							@media all and (max-width:1366px){
							.blog-3-wrap>li:nth-child(3){margin-top:8%;font-size:15px;color:#888;}
							}
							.blog-3-wrap>li:nth-child(4){width:40%;height:auto;margin-top:17%;padding-bottom:5%;}
							@media all and (max-width:1014px){
							.blog-3-wrap>li:nth-child(4){width:50%;height:auto;margin-top:10%;padding-bottom:5%;}
							}
							@media all and (max-width:920px){
							.blog-3-wrap>li:nth-child(3),
							.blog-3-wrap>li:nth-child(4){display:none;}
							}	
								a.sec7Bt{display:block;padding:10px 10px;border:1px solid #917e5a;background:transparent;color:#917e5a;font-size:13px;font-family:arial;letter-spacing:1px;}
								@media all and (max-width:1014px){
								a.sec7Bt{font-size:10px;font-family:arial;letter-spacing:1px;}
								}	
	
				/*모바일버전 화살표*/
				.sec7-arrow-wrap{display:none;position:absolute;top:50%;width:100%;height:auto;}
				@media all and (max-width:920px){
				.sec7-arrow-wrap{display:block;}
				}
				@media all and (max-width:278px){
				.sec7-arrow-wrap{display:none;}
				}
				
					.sec7-arrow-wrap>li{float:left;}
						.sec7-arrow-wrap>li:nth-child(1){position:absolute;left:0;top:0;}
						.sec7-arrow-wrap>li:nth-child(2){position:absolute;right:0;top:0;}
						a.sec7arrowL{display:block;font-size:45px;font-weight:300;color:#917e5a;}
						a.sec7arrowR{display:block;font-size:45px;font-weight:300;color:#917e5a;}
						
	#section8{position:relative;width:100%;height:auto;}
		.section8-wrap1{position:relative;margin:3% auto;width:45%;height:auto;}
		@media all and (max-width:828px){
		.section8-wrap1{margin:3% auto;width:90%;}
		}			
			.section8-wrap1>li{position:relative;width:100%;height:auto;}
			.section8-wrap1>li>img{width:100%;height:auto;}
	
		.section8-wrap2{position:absolute;bottom:0%;left:0;width:100%;height:100%;}
			.section8-title{position:relative;margin-top:19%;width:auto;height:auto;}
			@media all and (max-width:828px){
			.section8-title{margin-top:38%;}
			}				
				.section8-title>li{text-align:center;font-size:28px;color:#917e5a;}
				.section8-title>li>span{color:#666;}
				@media all and (max-width:1220px){
				.section8-title>li{font-size:24px;}
				}
				@media all and (max-width:420px){
				.section8-title>li{font-size:20px;}
				}
				@media all and (max-width:320px){
				.section8-title>li{font-size:17px;}
				}
			
			.section8-sns{position:absolute;top:92%;left:50%;margin-left:-103px;width:auto;height:auto;}
			@media all and (max-width:420px){
			.section8-sns{margin-left:-60.5px;}
			}
			@media all and (max-width:320px){
			.section8-sns{top:95%;margin-left:-52px;}
			}
			
				.section8-sns>li{float:left;margin:0 10px;}
				@media all and (max-width:420px){
				.section8-sns>li{margin:0 5px;}
				}				
					a.snsBt{font-size:25px;color:#888;}
					@media all and (max-width:1220px){
					a.snsBt{font-size:21px;}
					}		
					@media all and (max-width:420px){
					a.snsBt{font-size:17px;}
					}		
					@media all and (max-width:320px){
					a.snsBt{font-size:13px;}
					}					
					a.snsBt:hover{color:#917e5a;}
			
			

	#footer{position:relative;width:100%;height:auto;}	
		.footer-row1{position:relative;width:100%;height:186px;background:#f0ece3;}
		@media all and (max-width:740px){
		.footer-row1{position:relative;width:100%;height:auto;background:#f0ece3;}
		}		
			.footer-row1-L{position:relative;top:10%;width:70%;height:80%;padding-left:3%;box-sizing:border-box;}
			@media all and (max-width:740px){
			.footer-row1-L{top:10%;width:100%;height:auto;padding:20px 3%;box-sizing:border-box;}
			}			
				.footer-row1-L>li{position:relative;float:left;width:25%;height:auto;padding-right:12%;box-sizing:border-box;}
				@media all and (max-width:1822px){
				.footer-row1-L>li{position:relative;float:left;width:25%;height:auto;padding-right:0;box-sizing:border-box;}
				}
				@media all and (max-width:740px){
				.footer-row1-L>li{text-align:center;float:none;width:100%;margin-top:3%;}
				}
				
					.foot-text{position:relative;width:100%;height:auto;}
						.foot-text>li:nth-child(1){color:#707070;font-size:15px;}
						.foot-text>li:nth-child(2){margin-top:14px;}
						.foot-text>li:nth-child(4){margin-top:18px;}
						@media all and (max-width:1822px){
						.foot-text>li:nth-child(1){font-size:12px;}
						.foot-text>li:nth-child(2){margin-top:11px;}
						.foot-text>li:nth-child(4){margin-top:15px;}
						}
						@media all and (max-width:740px){
						.foot-text>li:nth-child(1){font-size:13px;font-weight:700;}
						}
						
					.footer-text4{position:relative;width:100%;height:auto;}
						.footer-text4>li:nth-child(1){color:#707070;font-size:15px;}
						.footer-text4>li:nth-child(2){margin-top:14px;}
						.footer-text4>li:nth-child(4){margin-top:0;}
						@media all and (max-width:1822px){
						.footer-text4>li:nth-child(1){font-size:12px;}
						.footer-text4>li:nth-child(2){margin-top:11px;}
						}
						@media all and (max-width:740px){
						.footer-text4>li:nth-child(1){font-size:13px;font-weight:700;}
						.footer-text4>li:nth-child(2){margin-top:11px;}
						}
						
						a.footerBt{display:block;font-size:13px;color:#666;line-height:1.5;}
						a.footerBt:hover{font-weight:600;}
						a.footBt3{display:block;font-size:14px;color:#666;line-height:1.5;}
						
			.footer-row1-R{position:absolute;top:10%;right:0;width:30%;height:80%;border-left:1px solid #888;padding-right:3%;box-sizing:border-box;}
			@media all and (max-width:740px){
			.footer-row1-R{position:relative;width:100%;height:auto;padding:0 3%;border-left:none;margin-top:5%;}
			}			
				.footer-row1-R>li{text-align:center;}
					.footer-row1-R>li:nth-child(1){font-size:23px;color:#917e5a;font-weight:600;}
					.footer-row1-R>li:nth-child(2){margin-left:30%;width:40%;padding:12px 0;}
						a.joinBt{display:block;padding:10px 20px;border:1px solid #917e5a;background:transparent;color:#917e5a;font-size:13px;font-family:arial;letter-spacing:1px;}
						a.joinBt:hover{border:1px solid #917e5a;background:#917e5a;color:#fff;}
					.footer-row1-R>li:nth-child(3){font-size:16px;font-weight:600;color:#666;}
					.footer-row1-R>li:nth-child(4){margin-top:12px;margin-left:40%;}
						.footer-sns>li{float:left;}
							a.footsnsBt{display:block;margin:0 3px;color:#888;font-size:15px;}
							a.footsnsBt:hover{color:#917e5a;}
						
		.footer-row2{position:relative;width:100%;height:65px;background:rgb(241,241,241);}
		@media all and (max-width:740px){
		.footer-row2{display:none;}
		}			
			.footer-row2>ul{position:absolute;width:100%;height:auto;top:20px;text-align:center;}
				.footer-row2>li{color:#aaa;font-size:12px;text-align:center;}
	
	
	#modal{position:fixed;z-index:4;top:0;left:0;width:100%;min-width:100%;height:100%;min-height:100%;background:rgba(0,0,0, .7);}

		.modal-wrap{position:relative;margin-left:25%;width:900px;height:900px;box-sizing:border-box;overflow:hidden;background:#917e5a;}
		@media all and (max-width:900px){
		.modal-wrap{margin-left:0;width:100%;height:80%;box-sizing:border-box;overflow:hidden;background:none;}
		}		
			.slide{position:absolute;top:40px;left:0;width:100%;height:100%;opacity:0;}
			@media all and (max-width:900px){
			.slide{top:0;;left:0;width:100%;height:auto;opacity:0;}
			}			
			.slide>img{width:100%;height:100%;}
				.modal-close-wrap{z-index:4;position:absolute;top:0;right:0;width:50px;height:50px;}
				@media all and (max-width:900px){
				.modal-close-wrap{background:#917e5a;width:30px;height:30px;}
				}				
					.modal-close-bt{position:absolute;top:0;left:0;width:100%;height:100%;}
					.modal-close-bt>i{position:absolute;top:10px;left:0;width:100%;height:auto;font-size:30px;text-align:center;color:#fff;}
					@media all and (max-width:900px){
					.modal-close-bt>i{top:4px;font-size:20px;}
					}